.wrapper {
  text-align: center;
  margin: 20px auto;
  padding: 40px 0 60px;
  max-width: 1200px;
}
.scale {
  position: relative;
}
.test-amount {
  padding: 20px;
  min-height: 60px;
}
.num-scale {
  position: relative;
  top: 23px;
} 
.inner-num-a {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 55px;
  left: 360px;
  z-index: 10;
}
.inner-num-a input {
  width: 100%;
  box-sizing: border-box;
}
.inner-num-b {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 55px;
  left: 620px;
  z-index: 10;
  display: none;
}
.inner-num-b input {
  width: 100%;
  box-sizing: border-box;
}
.sum-a-b input {
  width: 35px;
  box-sizing: border-box;
}